@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #3C4767;
}

.userinfo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

.icon-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.btn {
    text-align: center;
}

.btn a {
    display: inline-block;
    color: #fff;
    padding: 10px 15px;
    background-color: #3C4767;
    border-radius: 5px;
}
